CHAT_API_URL=https://nkx-ica.neokex.xyz
CHAT_API_TOKEN=chat.api.toke.neokex.ica.token.can.change.a9y.2ime.ok
# ACCOUNT_FILE=/etc/secrets/account.txt
# PORT=10000
# CHAT_API_TIMEOUT_MS=30000
# CHAT_API_RECONNECT_DELAY_MS=3000
# CHAT_API_RETRY_DELAY_MS=5000
# CHAT_API_MAX_RETRY_DELAY_MS=60000
# Place your Netscape-format Instagram cookies in ./account.txt.
